{block content}

<style>

.wrapper{ height:978px; }

       
        #footer { display:none; }
         </style>





<head>
</head>
<div id="wrapper">


{control actualfeedForm}

vlož odkazy na feedy 

plus udělat deaktivaci feedů
ještě přidat vložení těch, co nejsou










    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    




</div> 











{/block}

