{block content}

<style>

.wrapper{ height:978px; }

       
        #footer { display:none; }
         </style>





<head>
</head>
<div id="wrapper">


{control actualfeedForm}
    
    
    <hr/>
    
    
    .. tohle přidá na konec affil kod, ale u všech od výrobce (
{control affiliateForm}










    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    




</div> 











{/block}

