{block content}

<style>

.wrapper{ height:978px; }
</style>

   

<a href="{link Rozhrani:prihlaseni}">Zkusit se přihlásit znovu</a><br/><br/>
<a href="{link Hledam:default}">Domů</a>


 











{/block}

