<html >
 

        <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css" type="text/css">
        <link rel="stylesheet" media="print" href="{$basePath}/css/print.css" type="text/css">
        <link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon">
        <script type="text/javascript" src="{$basePath}/js/netteForms.js"></script>
        <script type="text/javascript" src="{$basePath}/js/priklady.js"></script>
        <script type="text/javascript" src="{$basePath}/js/jquery.js"></script>
        <script type="text/javascript" src="{$basePath}/js/scrollpagination.js"></script>

        <link href="{$basePath}/css/stranky.css" rel="stylesheet" type="text/css" media="all" />
  <style>
        body
{
   height:400px;
 background-color:white; 
}

.zprava_vstup
{
      
   
}
.odeslat
{
       
  
}
.email
{
 position:relative;
   left:-50px;      
   
}


.email_vstup
{
       
   position:relative;
   left:-40px;
}
</style>    

  
    <body > <span style="font-size: 110%;position:relative; top:100px;left: -400px;">Potřebujete poradit? Chybí Vám tu něco?<br/>
Budeme rádi za Vaše postřehy.</span>
    <div ><br/>
{form contactForm}
 {label email , class => 'email' /} {input  email class => 'email_vstup'}
        <br/>
        {label content , class => 'zprava'  /}  {input content class => 'zprava_vstup' }
        <br/><br/>
           {input send class => 'odeslat' }
 

{/form}
        
        </div>
    </body>
</html>
