

    {if count($darkys)}
   
        {foreach $darkys as $darky} 
    <div class="darky" style="opacity:0;-moz-opacity: 0;filter: alpha(opacity=0);" >
        <h3 style="position:relative; top:-10px;">{$darky['nazev']|truncate:39}</h3>
        <a href="{link detail $darky['nazev']}"><img class="darky_img" src="{$darky['obrazek_produktu']}"  border="0"></a>
        
   
    </div> 

        {/foreach}
 
 {else}
      
    {/if}
 
  
    

    
 


